h1 Knight's Tour
button#Execution CALC	

nav(id="ColumnController")
	button(id="ColDecrease") -
	#ColNumber 0
	button(id="ColIncrease") +

nav(id="RowController")
	button(id="RowDecrease") -
	#RowNumber 0
	button(id="RowIncrease") +

#ChessTable

#Help
	p 
		b click 
		| : edit panel state 
	p 
		b double-click 
		| : shift a start panel
	p 
		a(href="https://itunes.apple.com/jp/app/boxpop/id895127924?mt=8") BoxPop 
		| is an awesome game ever. 
		br 
		| You should give it a try for this.   
	p 
		a(href="http://shunter.jp") Shunter.jp
