h1 Knight's Tour

nav(id="ColumnController")
	button(id="ColDecrease") -
	#ColNumber 0
	button(id="ColIncrease") +

nav(id="RowController")
	button(id="RowDecrease") -
	#RowNumber 0
	button(id="RowIncrease") +

#ChessTable
	each r in [1,2,3,4]
		.row
			each c in [1,2,3,4]
				.column(data-rid = r, data-cid = c, data-filled = true)
